.div-prod-cart{ /* Estilos de cada div que contiene a cada producto */
    display: flex;
    flex-flow: row nowrap;
    background-color: #fff;
    padding: 8px;
    border-radius: 6px;
    margin: 8px;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.div-info-prod{
    display: flex;
    flex-flow: column nowrap;
    /* width: fit-content; */
}

.div-cart{ /* estilos del div que contiene todos los productos en el carrito */
    display: flex;
    flex-flow: column wrap;
    width: 70%;
    /* justify-items: center;
    justify-content: center; */
    align-items: center;
}

.div-resume{ /* estilos del div que contiene la info de pago */
    display: flex;
    flex-flow: column nowrap;
    width: 30%;
    background-color: #fff;
    padding: 8px;
    border-radius: 6px;
    margin: 8px;
    justify-content: space-around;
    height: 200px;
}

.body-cart{ /* div que contiene todo el contenido del carrito */
    display: flex;
    flex-flow: row nowrap;
}

.span-total{ /* estilos del span con el monto total */
    margin-top: 8px;
}

.div-quantity{ /* estilos del div que tiene la cantidad del producto con sus botones */
    display: flex;
    flex-flow: row nowrap;
    /* flex: 1; */
}

.input-quantity{ /* estilos del input que muestra la cantidad de producto */
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.btn-plus{ /* estilos del boton de aumento de producto */
    font-size: 70%;
    margin-left: 8px;
    border: none;
    background-color: transparent;
}

.btn-minus{ /* estilos del boton de decremento de producto */
    font-size: 70%;
    margin-right: 8px;
    border: none;
    background-color: transparent;
}

.btn-minus:hover{ /* estilos al hacer hover al boton de decremento */
    cursor: pointer;
}

.btn-plus:hover{ /* estilos al hacer hover al boton de aumento */
    cursor: pointer;
}

.btn-endpurchase{ /* estilos del boton de finalizar la compra */
    border: none;
    padding: 12px;
    border-radius: 6px;
    background-color: blue;
    color: #fff;
    transition: all 0.4s;
}

.btn-endpurchase:hover{ /* estilos al hacer hover al boton de finalizar compra */
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.493);
}

.prod-title{ /* estilos para el titulo de los productos */
    /* width: 145px; */
    font-weight: bold;
}

.div-total{ /* estilos del div con la cantidad de productos y el monto total */
    display: flex;
    flex-flow: column nowrap;
}

.div-emptyCart{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.btn-emptyCart{
    border: none;
    background-color: #D9846E;
    color: #fff;
    padding: 6px;
    border-radius: 8px;
}

.div-pay-option{
    display: flex;
    flex-flow: column nowrap;
    /* width: fit-content; */
}

.btn-back-pay{
    align-self: flex-end;
    border: none;
    align-items: flex-end;
    cursor: pointer;
    /* margin: auto; */
}

.btn-pay-cash{
    border: none;
    width: fit-content;
    align-self: center;
    padding: 6px;
    border-radius: 6px;
    background-color: blue;
    color: #fff;
    transition: all 0.4s;
    margin-top: 7px;
}

.btn-pay-cash:hover{
    cursor: pointer;
    background-color: darkblue;
}

.btn-emptyCart:hover {
    cursor: pointer;
}

.div-price-cart{
    display: flex;
    flex-flow: column nowrap;
}

.div-btn-remove{
    text-align: center;
    margin-top: 4px;
}

.btn-remove-prod{
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: rgb(41, 41, 175);
}

.div-btns-pay{
    display: flex;
    flex-flow: column;
    gap: 8px;
}

.div-checkbox{    
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 840px) {
    .body-cart{
        flex-flow: column nowrap;
    }

    .div-cart{
        width: 100%;
    }

    .div-resume{
        align-self: center;
        width: 298px;
    }
}

@media screen and (max-width: 620px) {
    .div-price-cart{
        display: flex;
        flex-flow: column nowrap;
    }
}

@media screen and (max-width: 492px) {
    .div-prod-cart{
        display: grid;
        grid-template-areas: 
        "imgCart title price"
        "imgCart quantity price";
    }

    .img-cart{
        grid-area: imgCart;
    }

    .prod-title{
        grid-area: title;
    }

    .div-quantity{
        grid-area: quantity;
    }

    .div-price-cart{
        grid-area: price;
    }
}

@media screen and (max-width: 375px) {
    .div-prod-cart{
        grid-template-areas: 
        "imgCart title"
        "imgCart quantity"
        "imgCart price";
        gap: 7px;
    }

    .img-cart{
        grid-area: imgCart;
    }

    .prod-title{
        grid-area: title;
    }

    .div-quantity{
        grid-area: quantity;
    }

    .div-price-cart{
        grid-area: price;
    }
}