.div-item-detail{
    display: flex;
    flex-flow: row nowrap;
    background-color: #fff;
    padding: 14px;
    border-radius: 3px;
}

.body-item{
    margin: 15px 3rem;
}

.div-numbers{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    width: 50%;
    justify-content: space-between;
}

.div-img{
    width: fit-content;
    align-items: center;
}

.div-img img{
    object-fit: contain;
}

.item-prop{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.item-prop input{
    width: 20%;
}

.div-info{
    display: flex;
    flex-flow: column nowrap;
    margin: 0 3rem;
}

.div-info h3{
    font-size: 130%;
    text-align: start;
}

.div-info p{
    margin-top: 15px;
}

.span-stock{
    margin-bottom: 7px;
}

.span-price{
    font-size: 160%;
}

.div-btn-add-prod{
    width: 50%;
    height: 20%;
}

.btn-add-prod{
    border: none;
    width: 100%;
    padding: 12px 0;
    margin-bottom: 1rem;
    background-color: #a57110a8;
    color: #fff;
    border-radius: 5px;
    transition: all 0.4s;
}

.btn-add-prod:hover{
    cursor: pointer;
    background-color: #a571105d;
}

.div-numbers-props{
    display: flex;
    flex-flow: column nowrap;
    height: 50%;
    justify-content: space-between;
}

.div-error-add{
    width: fit-content;
    margin: auto;
}

.error-add{
    color: #A53B3B;
    font-weight: bold;
}

.div-response{
    width: 100%;
    text-align: end;
}

.span-response{
    margin-right: 12px;
}

.div-input-add{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.input-quantity-add{
    margin: 0 5px;
}

/* .btn-handle-quantity{

} */

.btn-handle-quantity:hover{
    cursor: pointer;
}