.div-item-detail{
    display: flex;
    flex-flow: row nowrap;
    background-color: #fff;
    padding: 14px;
    border-radius: 3px;
}

.body-item{
    margin: 15px 3rem;
}

.div-numbers{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    width: 50%;
    justify-content: space-between;
}

.div-img{
    width: fit-content;
    align-items: center;
}

.div-img img{
    object-fit: contain;
}

.item-prop{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.item-prop input{
    width: 20%;
}

.div-info{
    display: flex;
    flex-flow: column nowrap;
    margin: 0 3rem;
}

.div-info h3{
    font-size: 130%;
    text-align: start;
}

.div-info p{
    margin-top: 15px;
}

.span-stock{
    margin-bottom: 7px;
}

.span-price{
    font-size: 160%;
}

.div-btn-add-prod{
    width: 50%;
    height: 20%;
    margin: auto;
}

.btn-add-prod{
    border: none;
    width: 100%;
    padding: 12px 0;
    margin-bottom: 1rem;
    background-color: #a57110a8;
    color: #fff;
    border-radius: 5px;
    transition: all 0.4s;
}

.btn-add-prod:hover{
    cursor: pointer;
    background-color: #a571105d;
}

.div-numbers-props{
    display: flex;
    flex-flow: column nowrap;
    height: 50%;
    justify-content: space-between;
}

.div-error-add{
    width: fit-content;
    margin: auto;
}

.error-add{
    color: #A53B3B;
    font-weight: bold;
}

.div-response{
    width: 100%;
    text-align: end;
}

.span-response{
    margin-right: 12px;
}

.div-input-add{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.input-quantity-add{
    margin: 0 5px;
}

.btn-handle-quantity:hover{
    cursor: pointer;
}

@media screen and (max-width: 1039px) {
    .div-item-detail{
        display: grid;
        grid-template-areas: 
        "imgDet info"
        "imgDet numbers";
    }

    .div-img{
        grid-area: imgDet;
    }

    .div-info{
        grid-area: info;
    }

    .div-numbers{
        grid-area: numbers;
        gap: 10px;
        margin: auto;
    }

    .div-btn-add-prod{
        width: 100%;
    }

    .div-numbers-props{
        gap: 17px;
    }
}

@media screen and (max-width: 828px) {
    .div-item-detail{
        grid-template-areas: 
        "info"
        "imgDet"
        "numbers";
    }

    .div-info{
        text-align: center;
    }

    .div-info h3{
        text-align: center;
    }

    .div-img{
        margin: auto;
    }

    .div-img img{
        width: 100%;
        height: 50%;
    }

    .div-numbers-props{
        margin: auto;
    }
}

@media screen and (max-width: 425px) {
    .div-info{
        font-size: 80%;
    }

    .div-numbers{
        font-size: 80%;
    }
}