.div-prod-edit{
    /* display: flex;
    flex-flow: column wrap;
    max-width: 500px;
    height: 700px;
    margin: auto;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 2rem;
    justify-content: space-around; */
    display: grid;
    grid-template-areas: 
    "img variant"
    "title variant"
    "description variant";
}

.title{
    grid-area: title;
}

.description{
    grid-area: description;
}

.img{
    grid-area: img;
}

.div-prop{
    /* display: grid;
    grid-template-columns: 33% 67%;
    margin: 8px 0; */
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid black;
}

.span-prop{
    text-align: left;
    margin-right: 6px;
    font-weight: bold;
}

.btn-edit:hover{
    cursor: pointer;
}

.title-update-option{
    text-align: center;
    margin-top: 4rem;
}

.btn-cancel{
    color: #D9846E;
    margin-left: 3px;
}

.btn-cancel:hover{
    cursor: pointer;
}

.btn-update{
    color: #8F9779;
}

.btn-update:hover{
    cursor: pointer;
}

.title-prod{
    text-align: center;
    margin: 4rem 0;
}

.div-each-variant{
    border: 1px solid black;
}

.div-each-size{
    background-color: #fff;
    border: 1px solid black;
}

.div-span-value{
    display: grid;
    grid-template-columns: 90% 10%;
    justify-items: center;
}

.div-prop-img{
    display: flex;

    /* display: grid; */
    /* grid-template-columns: 90% 10%; */
    margin-top: 8px;
    margin: auto;
}

.btn-back{
    border:none;
    background-color: #8F9779;
    color: #fff;
    padding: 6px;
    border-radius: 8px;
    transition: all 0.4s;
}

.btn-back:hover{
    cursor: pointer;
    background-color: #8f977986;
}

.div-btn-back{
   text-align: center;
   margin-bottom: 2rem;
}

.div-input-update{
    display: flex;
    flex-flow: row nowrap;
}

.div-input-update input{
    height: 23px;
    width: 80%;
}

.btns-update{
    display: flex;
    flex-flow: row nowrap;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}