.div-controlPanel{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 2rem;
}

.div-controlPanelOption{
    display: flex;
    flex-flow: row nowrap;
    
    margin-top: 2rem;
    justify-content: start;
}

.div-title{
    flex: 1;
    text-align: center;
}

.div-options{
    margin-top: 10px;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 5rem;
}


.btn-option{
    border: none;
    color: #fff;
    background-color: #001F3F;
    transition: all 0.4s;
    margin: 12px 0;
    padding: 8px;
    border-radius: 6px;
}

.btn-option:hover{
    cursor: pointer;
    background-color: #001f3f85;
}

.iconBack{
    margin-left: 12px;
    cursor: pointer;
}