.div-content-forms{  /* Estilos para los divs de los formularios de login y registro */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin: auto;
    background-color: #D2B48C;
    margin-top: 5rem;
    padding: 8px;
    border-radius: 6px;
}

.div-content-forms h2{  /* Título de los formularios de login y registro */
    color: #fff;
}

.div-form{  /* Estilos de los formularios de login y registro */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.div-input{ /* Estilos de los divs que contiene los inputs y label de login y registro */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 100%;
    margin-bottom: 12px;
}

.div-input input{ /* Seleccion de los inputs dentro de los divs de login y registro */
    width: 65%;
    height: 21px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.div-input label{ /* Seleccion de los label dentro de los divs de login y registro */ 
    width: 35%;
    color: #fff;
}

.error { /* Estilos del span que muestra errores al enviar formularios */
    color: #A53B3B;
    font-weight: bold;
}

.no-prods{ /* Texto que se muestra al no renderizar ningun producto (no hay) */
    text-align: center;
    margin-top: 20px;
}

.btn-login{ /* Estilos para el boton de login y registro */ 
    border: none;
    background-color: #8F9779;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    transition: all 0.4s;
}

.btn-login:hover{ /* Estilos al hacer hover en boton de login y registro */
    cursor: pointer;
    background-color: #8f97798f;
}