.div-prods-general{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.div-prod{
    display: flex;
    flex-flow: column nowrap;
    width: 200px;
    height: 400px;
    background-color: white;
    padding: 8px;
    margin: 7px;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
}

.div-prod *{
    flex:1;
}

.div-prod img{
    border-radius: 4px;
}

.link-item-detail{
    color: black;
}

.link-item-detail:hover{
    cursor: pointer;
}


.div-title-prod h2{
    font-size: 80%;
    margin-top: 16px;
}

.div-pages{
    margin: 12px 0;
}