.ul-nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: rgb(236, 2, 115);
    padding: 5px;
    height: 40px;
}

.img-inicio{
    border-radius: 4px;
}

.nav-item{
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
}

.nav-item span{
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: auto;
}

.nav-sup{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
    background-color: rgb(236, 2, 115);
}

.links-nav{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.link{
    color: #000000;
    font-weight: bold;
    transition: all 0.4s;
}

.link:hover{
    color: #042231;
    
}

.buttonlink-login{
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-weight: bold;
    transition: all 0.4s;
}

.buttonlink-login:hover{
    color: #042231;
    cursor: pointer;
}

.submenu {
    display: flex;
    flex-flow: column nowrap;
    height: fit-content;
    overflow: hidden;
    background-color: rgb(236, 2, 115);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 4px;
    opacity: 0;
    transition: all 0.4s ease;
    border-radius: 4px;
    /* margin-top: 3px; */
  }

.submenu-item {
    padding: 8px;
  }

.submenu-item a{
    color: #fff;
    transition: all 0.4s;
}

.submenu-item a:hover{ 
    color: #0000009d;
}

.nav-item:hover .submenu{
    opacity: 1;
    overflow: visible;
    z-index: 1;
}


.panel-user{
    /* background-color: rgb(180, 180, 180); */
    padding: 6px;
    border-radius: 5px;
}

.panel-user-true{
    display: flex;
    flex-flow: column nowrap;
}

.panel-user-true-links{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.panel-user-true a{
    text-align: center;
    color: #555555;
}

.btn-logout{
    margin: 4px 0;
    border: none;
    /* background-color: rgb(148, 9, 9); */
    background-color: #001f3f;
    color: #fff;
    padding: 3px;
    border-radius: 3px;
    transition: all 0.4s;
}

.btn-logout:hover{
    cursor: pointer;
    background-color: #001f3f5e;
}

.btn-user{
    transition: all 0.4s;
}

.link-panel{
    color: #001f3f;
    transition: all 0.4s;
}

.btn-user:hover{
    color: #1165865d;
}

.link-panel:hover{
    color: #1165865d;
}

@media screen and (max-width: 840px) {

       .div-img-inicio{
        width: fit-content;
       }

       .buttonlink-login{
        font-size: 80%;
       }

       .link-register{
        font-size: 80%;
       }

       .nav-sup{
        display: grid;
        grid-template-areas: 
        "img panel"
        "search search";
    }

    .div-img-inicio{
        grid-area: img;
    }

    .div-searchbar{
        grid-area: search;
    }

    .div-panel-user{
        grid-area: panel;
    }
}

@media screen and (max-width: 544px) {


    .nav-item span{
        font-size: 80%;
    }

    .submenu-item a{
        font-size: 80%;
    }
}

@media screen and (max-width: 375px) {
    .nav-item span{
        font-size: 70%;
    }

    .submenu{
        /* width: 80%; */
        padding: 0;
    }
}

@media screen and (max-width: 343px) {
    .submenu-item a{
        font-size: 70%;
    }
}

@media screen and (max-width: 309px) {
    .submenu-item{
        padding: 1px;
    }
}